version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.7.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  weather-producer:
    build: ./producers
    container_name: weather-producer
    depends_on:
      - kafka
    restart: always

  spark-consumer:
    build: ./spark
    container_name: spark-consumer
    depends_on:
      cassandra:
        condition: service_healthy
      kafka:
        condition: service_started
      minio:
        condition: service_started
    environment:
      - SPARK_MODE=client
      - PYTHONUNBUFFERED=1
    restart: always
    volumes:
      - ./spark/output:/output



  minio:
    image: minio/minio:latest
    container_name: minio
    command: ["server", "/data", "--console-address", ":9001"]
    ports:
      - "9000:9000"        #S3 endpoint
      - "9001:9001"        #MinIO console UI
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio/data:/data


  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"        # CQL port
    environment:
      - CASSANDRA_CLUSTER_NAME=weather-cluster
      - CASSANDRA_NUM_TOKENS=8
      - CASSANDRA_START_RPC=true
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
    volumes:
      - cassandra_data:/var/lib/cassandra
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "describe keyspaces"]
      interval: 20s
      timeout: 10s
      retries: 10

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=hadesarchitect-cassandra-datasource
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - cassandra
    restart: always


  spark-thrift:
    image: weather-streaming-pipeline-spark-consumer
    container_name: spark-thrift
    depends_on:
      - minio
    ports:
      - "10000:10000"   # Spark Thrift JDBC port
    entrypoint:
      - /bin/bash
      - -c
      - |
        export SPARK_NO_DAEMONIZE=true
        /opt/spark/sbin/start-thriftserver.sh \
          --master local[*] \
          --hiveconf hive.server2.thrift.port=10000 \
          --jars /opt/spark/jars/delta-spark_2.12-3.2.0.jar,/opt/spark/jars/delta-storage-3.2.0.jar,/opt/spark/jars/hadoop-aws-3.3.4.jar,/opt/spark/jars/aws-java-sdk-bundle-1.12.772.jar \
          --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension \
          --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog \
          --conf spark.hadoop.fs.s3a.endpoint=http://minio:9000 \
          --conf spark.hadoop.fs.s3a.access.key=minioadmin \
          --conf spark.hadoop.fs.s3a.secret.key=minioadmin \
          --conf spark.hadoop.fs.s3a.path.style.access=true \
          --conf spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem



  spark-notebook:
    image: weather-streaming-pipeline-spark-consumer
    container_name: spark-notebook
    ports:
      - "8889:8888"
    entrypoint: bash
    command: >
      -c "pip install jupyter &&
          export SPARK_HOME=/opt/spark &&
          export PYTHONPATH=$$SPARK_HOME/python:$$SPARK_HOME/python/lib/py4j-0.10.9.7-src.zip &&
          jupyter notebook --ip=0.0.0.0 --port=8888 --allow-root"


  spark-backfill:
    image: weather-streaming-pipeline-spark-consumer
    container_name: spark-backfill
    depends_on:
      - minio
    # ⬆️ kafka / cassandra are NOT required for backfill

    # Override the ENTRYPOINT so we don't wait for Cassandra
    entrypoint: [
      "/opt/spark/bin/spark-submit",
      "--jars",
      "/opt/spark/jars/delta-spark_2.12-3.2.0.jar,/opt/spark/jars/delta-storage-3.2.0.jar,/opt/spark/jars/hadoop-aws-3.3.4.jar,/opt/spark/jars/aws-java-sdk-bundle-1.12.772.jar",
      "--conf", "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension",
      "--conf", "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog",
      "--conf", "spark.hadoop.fs.s3a.endpoint=http://minio:9000",
      "--conf", "spark.hadoop.fs.s3a.access.key=minioadmin",
      "--conf", "spark.hadoop.fs.s3a.secret.key=minioadmin",
      "--conf", "spark.hadoop.fs.s3a.path.style.access=true",
      "--conf", "spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem",
      "/app/spark_historical_bf.py" 
    ]

  bronze_to_silver:
    build: ./spark
    container_name: spark-bronze-silver
    command: >
      /opt/spark/bin/spark-submit
      --jars /opt/spark/jars/*
      --packages io.delta:delta-core_2.12:2.4.0
      /app/weather_bronze_to_silver.py
    depends_on:
      - minio
    entrypoint: [
      "/opt/spark/bin/spark-submit",
      "--jars",
      "/opt/spark/jars/delta-spark_2.12-3.2.0.jar,/opt/spark/jars/delta-storage-3.2.0.jar,/opt/spark/jars/hadoop-aws-3.3.4.jar,/opt/spark/jars/aws-java-sdk-bundle-1.12.772.jar",
      "--conf", "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension",
      "--conf", "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog",
      "--conf", "spark.hadoop.fs.s3a.endpoint=http://minio:9000",
      "--conf", "spark.hadoop.fs.s3a.access.key=minioadmin",
      "--conf", "spark.hadoop.fs.s3a.secret.key=minioadmin",
      "--conf", "spark.hadoop.fs.s3a.path.style.access=true",
      "--conf", "spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem",
      "/app/weather_bronze_to_silver.py"
    ]

  silver_to_gold:
    build: ./spark
    container_name: spark-silver-gold
    command: >
      /opt/spark/bin/spark-submit
      --jars /opt/spark/jars/*
      --packages io.delta:delta-core_2.12:2.4.0
      /app/weather_silver_to_gold.py
    depends_on:
      - minio
      - bronze_to_silver
    entrypoint: [
      "/opt/spark/bin/spark-submit",
      "--jars",
      "/opt/spark/jars/delta-spark_2.12-3.2.0.jar,/opt/spark/jars/delta-storage-3.2.0.jar,/opt/spark/jars/hadoop-aws-3.3.4.jar,/opt/spark/jars/aws-java-sdk-bundle-1.12.772.jar",
      "--conf", "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension",
      "--conf", "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog",
      "--conf", "spark.hadoop.fs.s3a.endpoint=http://minio:9000",
      "--conf", "spark.hadoop.fs.s3a.access.key=minioadmin",
      "--conf", "spark.hadoop.fs.s3a.secret.key=minioadmin",
      "--conf", "spark.hadoop.fs.s3a.path.style.access=true",
      "--conf", "spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem",
      "/app/weather_silver_to_gold.py"
    ]


volumes:
  cassandra_data: 



